/* Global
----------------------------------------------------------------*/

*{
	margin:0;
	padding:0;
}

html{
	background-color:#FFFFFF;
}

body{
	font-family: 'NotoSans-Light';
	font-size: 0.8em;
    line-height: 1.6em;
	color:#666666;
}

h1, h2, h3, h4, h5, h6 {
	margin-top:0px;
	margin-bottom:20px;
}

p{ margin-top:0; margin-bottom:20px; line-height:1.6em; }
a{ color:#0069D6; text-decoration:none;  }
img{ height:auto; width:auto; max-width:100%; }

/* Layout
-------------------------------------------------------------------*/

.wrapper{
	width:960px;
	margin:20px auto 0px auto;
}

.sidebar{
	overflow:hidden;
	float:left;
	width:23.95833333333333%;
}

.content{
	float:right;
	width:74.04166666666667%; /* original : 76.04166666666667%; 2% for gap between sidebar */
	margin-bottom:1px;
}

.footer{
	clear:both;
	width:auto;
	background-color:#E9EBED;
	padding:10px;
}

/* Logo
-------------------------------------------------------------------------*/

.logo{
	width:100%;
	margin-bottom:20px;
}

/* Top Navigation
-------------------------------------------------------------------------*/

.navbar{
	width:100%;
	margin-bottom:20px;
	border:1px solid #F0F0F0;
}

.navbar ul li{
	list-style:none;
	display: inline-block;
	margin:0;
	padding:0
}

.navbar ul li a{
	display:block;
	line-height:30px;
	text-decoration:none;
	color:#0069D6;
	padding:0 15px
}

.navbar ul li a.active{
	color:#666666;
}

/* Side Navigation
-------------------------------------------------------------------------*/

.sidenav{
	background-color:#FCFCFC;
	border:1px solid #F0F0F0;
}

.sidenav li{
	padding:5px 10px;
}

.sidenav li.sidehead{
	background-color:#F4F3F9;
	color:#38383D;
}

.sidenav li a{
	color:#555555;
}

.sidenav li a:hover{
	color:#0069D6;
}

/* Form
-----------------------------------------------------*/

input[type="text"],
input[type="password"]{
	padding:5px;
	color:#555555;
	border:1px solid #F0F0F0;
}

input[type="submit"]{
	padding:5px;
	color:#555555;
	border:1px solid #F0F0F0;
}

select{
	padding:5px;
	color:#555555;
	border:1px solid #F0F0F0;
}

textarea{
	width: 100%;
	height:150px;
	color:#555555;
	border:1px solid #F0F0F0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Table
-----------------------------------------------------*/

table{
	width:100%;
	border-collapse:collapse;
	background-color:#FAFAFC;
}

table thead{
	background-color:#FFFFFF;
	border-bottom:1px solid #5EB9E6;
}

table tbody tr:hover{
	background-color:#F0F0F8;
}

table thead tr td,
table tbody tr td{
	padding: 12px 15px;
	text-align: left;
}


/* HR
-----------------------------------------------------*/

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 0;
	border-top: 1px dotted #F0F0F0;
}

/* Notification
-----------------------------------------------------*/

.successfully{
	padding:5px 10px;
	border:1px solid #D6E9C6;
	background-color:#DFF0D8;
	color:#3C763D;
}

.information{
	padding:5px 10px;
	border:1px solid #BCE8F1;
	background-color:#D9EDF7;
	color:#31708F;
}

.warning{
	padding:5px 10px;
	border:1px solid #FAEBCC;
	background-color:#FCF8E3;
	color:#C2863B;
}

.error{
	padding:5px 10px;
	border:1px solid #EBCCD1;
	background-color:#F2DEDE;
	color:#C04442;
}

/* Responsive Media Queries
----------------------------------------------------------------------------*/

@media screen and (max-width:960px){
	.wrapper{
		width:90%;
	}
}
@media screen and (max-width:768px){
	.sidebar, .content{
		float:none;
		display:block;
		width:auto;
		margin:10px 0px;
	}
}